
.jumbotron{
    background-color: rgb(204, 204, 255);
    margin-top: 0px;}

.body{
    font-family: Arial, Helvetica, sans-serif;
}
.titulo{
    margin-left: 20px;
}

.col-sm-8{
    background-color: rgb(152, 255, 83);
}

.col-sm-4{
    background-color: darkorange;
}

.hr{
    color: black;
}

