.btn{
    color:#FF7D49;
    border-color: #FF7D49;
}
.btn:hover{
    background-color: #FF7D49;
    color:white;
    border-color:#FF7D49;
}

.row.nav{
    width: 100%
}
.buscador{
    margin-bottom: auto;
    line-height: auto;
}
.dropdown-menu{
    right:0;
    left: unset;
} 
body{
    background-color: #F0F0C9;

}


input {
    width: 100%;
    margin-bottom: 2vh;
    line-height: 1vh;
}


.fas{
    margin: 1vh;
    text-align: center;
   
}
.navegador{
    margin: auto;
    text-align: auto;
   
}
.acciones{
    border-right: 1px solid black;  
}



.logo{
    width: 15vh;
}
#Imagenes{
    line-height: 100% !important;
    margin-top: 2vh;
}